<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Korbit Transactions', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <%= form_tag('/', method: 'POST', class: "navbar-form navbar-left") do %>
        <label for="transaction_count">Transaction Count:</label>
        <div class="form-group" class="select-spacing">
          <%= select("data", "transaction_count", @transaction_counts, selected: 50) %>
        </div>
        <label for="time_interval">Time Interval:</label>
        <div class="form-group" class="select-spacing">
          <%= select("data", "time_interval", @time_intervals, selected: @time_interval) %>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>

    </div>
  </div>
</nav>

<div class="container">
  <% if @recent_transactions.any? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">Transactions available from <%= DateTime.strptime(@first_transaction.unix_time.to_s, '%s').strftime('%F') %> to <%= DateTime.strptime(@last_transaction.unix_time.to_s, '%s').strftime('%F') %> (<%= @transaction_count %> total transactions)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Korbit Transaction Plot</h3>
          </div>
          <div class="panel-body">
            <div class="candlestick-plot-container">
              <div id="chart_div" class="candlestick-plot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%=raw @recent_transactions %>, true);
    var options = {
      legend:'none',
      hAxis: {title: 'Transaction Interval (Unix Time)',  titleTextStyle: {color: '#333'}, textStyle : { fontSize: 10 }},
      vAxis: {title: 'Transaction Value (Korean Won)',  titleTextStyle: {color: '#333'}},
      explorer: {axis: 'horizontal', keepInBounds: true},
      bar: {groupWidth: '90%'}
    };
    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
