<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Korbit Transactions', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <%= form_tag('/', method: 'POST', class: "navbar-form navbar-left") do %>
        <label for="transaction_count">Transactions:</label>
        <div class="form-group select-spacing">
          <%= select("data", "transaction_count", @transaction_counts, selected: @transaction_count) %>
        </div>
        <label for="time_interval">Interval(s):</label>
        <div class="form-group select-spacing">
          <%= select("data", "time_interval", @time_intervals, selected: @time_interval) %>
        </div>
        <button type="submit" class="btn btn-primary">Refresh Plot</button>
      <% end %>

    </div>
  </div>
</nav>

<div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <% if @recent_transactions.any? %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="well">
          Transactions available from <b><%= DateTime.strptime(@first_transaction.unix_time.to_s, '%s').strftime('%F') %></b> to <b><%= DateTime.strptime(@last_transaction.unix_time.to_s, '%s').strftime('%F') %></b>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="well"><b><%= @total_transactions %></b> total transactions</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Korbit Transaction Plot</h3>
          </div>
          <div class="panel-body">
            <div class="candlestick-plot-container">
              <div id="chart_div" class="candlestick-plot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="well"><span class="bullish-candle">Bullish candle</span>: price increased over the time period.</div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="well"><span class="bearish-candle">Bearish candle</span>: price decreased over the time period.</div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="well">Doji candle: open and closing prices were more or less the same.</div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="well">Real body: describes price action with respect to opening and closing prices.</div>
      </div>
    </div>
  <% end %>
</div>

<script>
  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%=raw @recent_transactions %>, true);
    var options = {
      legend:'none',
      hAxis: {title: 'Interval (YYYYMMDDHHMM)',  titleTextStyle: {color: '#367890'}, textStyle : { fontSize: 10 }},
      vAxis: {title: 'Price (Korean Won)',  titleTextStyle: {color: '#367890'}},
      explorer: {axis: 'horizontal', keepInBounds: true},
      bar: {groupWidth: '90%'},
      candlestick: {
        fallingColor: { strokeWidth: 0, fill: '#d85040' }, // red
        risingColor: { strokeWidth: 0, fill: '#5286ec' }   // green
      }
    };
    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

  (function() {
    setTimeout(function() {
      $(".alert").hide();
    }, 3500);
  })();
</script>
